.content {
  display: flex;
  &__icon {
    margin: 10px 5px 10px 0;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 15px;

    h4 {
      margin-bottom: 0;
    }

    div {
      font-size: 12px;
      font-style: italic;
    }
  }
}
